/* General body styles */
body {
    font-family: 'Arial', sans-serif;
    color: #333;
    background-color: #f4f4f4;
    margin: 0;
    padding: 20px;
}

/* Container for the content */
.container {
    max-width: 600px;
    margin: auto;
    background-color: #fff;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center; /* Center the content */
}



/* Header styles */
header {
    margin-bottom: 20px; /* Space below the header */
}

.profile-image {
    width: 120px;
    height: 120px;
    border-radius: 60px; /* Make it round */
    border: 4px solid #eee;
}

header h1 {
    font-size: 24px;
    margin-top: 10px;
}

header p {
    color: #666;
    font-style: italic;
    margin-bottom: 20px; /* Space before navigation */
}

/* Navigation styles */
nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

nav ul li {
    margin: 10px 0; /* Vertical spacing between buttons */
}

nav a {
    display: block; /* Make each link a block */
    text-decoration: none;
    color: #333;
    background-color: #f4f4f4;
    padding: 8px 15px; /* Adjust padding for less width */
    border-radius: 50px; /* More rounded corners */
    box-shadow: 0 2px 3px rgba(0,0,0,0.1);
    transition: background-color 0.3s;
    width: 45%; /* Less width */
    margin: auto; /* Center the buttons */
    font-size: 12px; /* Adjusted font size */
}

nav a:hover {
    background-color: #e2e2e2; /* Hover effect */
}

/* Styles for social icons */
nav .social-icons {
    padding-top: 20px; /* Space between the main links and icon links */
    text-align: center;
}

nav .social-icons li {
    display: inline-block;
    margin: 0 10px;
}

nav .social-icons img {
    width: auto;
    height: 24px; /* Maintaining the aspect ratio */
    vertical-align: middle;
}

/* Specific overrides for icon links */
nav .social-icons a {
    background: none; /* No background color */
    padding: 0; /* No padding */
    box-shadow: none; /* No shadow */
    border: none; /* No borders */
}

nav .social-icons a img {
    display: inline-block; /* Ensure icons are correctly aligned */
}

/* Footer styles */
footer {
    text-align: center;
    font-size: 12px; /* Smaller font size */
    color: #666; /* Lighter text color */
    padding: 30px 0; /* Some padding at the top and bottom */
    background-color: #fff; /* Background color similar to the container for consistency */
    width: 100%;
}


footer a:hover {
    text-decoration: underline; /* Underline on hover for better interaction */
}
